h1 {
    border-bottom: 1px solid gray;
}

#wiki-note {
    margin-top: -20px;
}

#content {
    text-indent: 40px;
}

.bold {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: cornflowerblue;
}

.blue {
    color: blue;
}